doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='author', content='elad ben-israel')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    link(href='css/index.css', rel='stylesheet')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') <strong>anode@microsoft</strong> blog
          ul.nav

    .container
      .row
        .span8
          br
          br
          .row
          - blog.forEach(function(post) {
            a(name=post.name)
            | !{post.html}
          - })

        .span4
          .sidebar-nav

            ul.nav.nav-list
              p All our modules are available on <a href='https://github.com/anodejs'>GitHub</a> and published under the <a href='http://en.wikipedia.org/wiki/MIT_License'>MIT License</a>.
              p We welcome contributions and feedback!

              - projects.forEach(function(p) {
              .well
                li.nav-header
                  h3
                    a(href=p.url)=p.name
                dl
                  dt
                  p !{p.desc}
                  dt
                  p.usage !{p.usage}

                a.btn(href='#{p.url}') Source &raquo;
                span.credits
                  - var first = true;
                  - p.contrib.forEach(function(cont) {
                  -   if (!first) {
                  | ,
                  -   }
                  -   var contribDescriptor = contrib[cont];
                  -   if (!contribDescriptor) console.error('Unable to find %s in contrib.json', cont);
                  -   else {
                  a(href=contribDescriptor.home)= cont
                  -     first = false;
                  -   }
                  - });
              - })

      footer
        | <strong>&copy; Microsoft Corporation 2012</strong>
        | |
        | built with
        a(href='http://twitter.github.com/bootstrap') bootstrap
        | , 
        a(href='#') jade
        | ,
        a(href='#') marked

  script(type='text/javascript', src='js/jquery-1.7.1.min.js')
  script(type='text/javascript', src='js/analytics.js')
