doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='author', content='elad ben-israel')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    link(href='css/index.css', rel='stylesheet')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') <strong>anode@microsoft</strong> blog
          ul.nav

    .container
      .row
        .span8
          br
          br
          .row
          - blog.forEach(function(post) {
            .entry(id=post.name)
              a.hash(name=post.name) &nbsp;
              | !{post.html}
              hr
              .comment
                a.comment(href='#', data-disqus-identifier='/#' + post.name) Leave a comment
                img.loading(src='data:image/gif;base64,R0lGODlhEAALAPQAAP///z2LqeLt8dvp7u7090GNqz2LqV+fuJ/F1IW2ycrf51aatHWswaXJ14i4ys3h6FmctUCMqniuw+vz9eHs8fb5+meku+Tu8vT4+cfd5bbT3tbm7PH2+AAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA')
              .comments
                a.nocomment(href='#') Hide comments
                .disqus_thread
            hr
          - })

        .span4
          .sidebar-nav

            ul.nav.nav-list
              p All our modules are available on <a href='https://github.com/anodejs'>GitHub</a> and published under the <a href='http://en.wikipedia.org/wiki/MIT_License'>MIT License</a>.
              p We welcome contributions and feedback!

              - projects.forEach(function(p) {
              .well
                li.nav-header
                  h3
                    a(href=p.url)=p.name
                dl
                  dt
                  p !{p.desc}
                  dt
                  p.usage !{p.usage}

                a.btn(href='#{p.url}') Source &raquo;
                span.credits
                  - var first = true;
                  - p.contrib.forEach(function(cont) {
                  -   if (!first) {
                  | ,
                  -   }
                  -   var contribDescriptor = contrib[cont];
                  -   if (!contribDescriptor) console.error('Unable to find %s in contrib.json', cont);
                  -   else {
                  a(href=contribDescriptor.home)= cont
                  -     first = false;
                  -   }
                  - });
              - })

      footer
        | &copy; Microsoft Corporation 2012
        | |
        a.feed(href='rss.xml') subscribe
        | &nbsp; |
        | built with
        a(href='http://twitter.github.com/bootstrap') bootstrap
        | , 
        a(href='http://jade-lang.com') jade
        | ,
        a(href='https://github.com/chjj/marked') marked

  script(type='text/javascript', src='js/jquery-1.7.1.min.js')
  script(type='text/javascript', src='js/index.js')
