doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='author', content='elad ben-israel')
    link(href='css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    link(href='css/index.css', rel='stylesheet')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') <strong>#{title}</strong>
          ul.nav

    .container
      .hero-unit
        .row
          .logo.span1
          .span8
            h1 anode!
            br
            | <strong>anode</strong> is an experimental platform for rapidly prototyping web apps on Azure. anode is built by Microsoft entirely with node.js and uses many great open source modules written by the awesome node.js community around the world.
            br
            br
            | Currently there are no plans to release anode platform as a service, but we are pleased to share the modules we have created as part of the anode project. All our modules are published under the <a href='http://en.wikipedia.org/wiki/MIT_License'>MIT License</a> and we welcome contributions and feedback.
            br
            br
            | If you are interested in running your node.js apps on Azure, see the awesome <a href='http://www.windowsazure.com/en-us/develop/nodejs'>Azure node.js developer center</a>.

      .row
        .span12
        hr
        h1(align='center') Our modules
          a.btn-small(href="https://github.com/anodejs") github
        br
        .alert.alert-info
          strong We wanted to get this stuff out and share it with the amazing node.js community.
          br
          | Some of the public code is still not 100% documented, tested and undoubtfully buggy. If something is missing or if you have any problem or question, feel free to <a href='mailto:anodelibs@microsoft.com'>contact</a> us, create a github issue in the relevant repository or even better: <strong>fork and send a pull request</strong>.


      - var trios = [];
      - var currentTrio = 0;

      - for (var i = 0; i < projects.length; ++i) {
      -   if (!trios[currentTrio]) trios[currentTrio] = [];
      -   trios[currentTrio].push(projects[i]);
      -   if ((i+1) % 3 === 0) currentTrio++;
      - };

      - trios.forEach(function(trio) {

      - trio.forEach(function(project) {
      a(id=project.name)
      - });

      hr
      .row

        - trio.forEach(function(project) {
        .span4
          h2 !{project.name}
          p !{project.desc}
          p.usage !{project.usage}
        - })

      .row
        br

        - trio.forEach(function(project) {
        .span4
          a.btn(href='#{project.url}') Source &raquo;
          span.credits
            - var first = true;
            - project.contrib.forEach(function(cont) {
            -   if (!first) {
            | ,
            -   }
            -   var contribDescriptor = contrib[cont];
            -   if (!contribDescriptor) console.error('Unable to find %s in contrib.json', cont);
            -   else {
            a(href=contribDescriptor.home)= cont
            -     first = false;
            -   }
            - });
        - })

      - })

    footer
      | built with <a href='http://twitter.github.com/bootstrap'>bootstrap</a>
      | |
      | <strong>&copy; Microsoft Corporation 2012</strong>
      |

  script(type='text/javascript', src='js/jquery-1.7.1.min.js')
  script(type='text/javascript', src='js/analytics.js')
